.send_products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.send_info_price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #bbfaad;
    font-size: 18px;
    margin-bottom: 20px;
}

.free_send_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.free_send_title img {
    width: 25px;
}

.free_send_title span {
    font-size: 15px;
}

.send_free_image {
    width: 135px;
}