.box {
    /* background-color: #f0f5ff; */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(78, 78, 78, 0.649);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 10px 10px;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
    max-height: 400px;
}

a {
    text-decoration: none;
    /* color: #000; */
    color: #fff;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px;
    transform: translateY(-3px);
}

.products_img {
    max-width: 75%;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 30px;
}

.content {
    width: 100%;
    /* color: rgba(0, 0, 0, 0.7); */
    color: #fff;
    font-size: 1.1rem;
}

.title {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    /* font-weight: bold; */
}

.price {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.price span {
    font-size: 15px;
}

.products_button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: block;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy_button {
    background-color: #71c90c;
}

.add_button {
    background-color: #ffaa00;
}

.buy_button:hover {
    background-color: #529f00;
}

.add_button:hover {
    background-color: #ff8000;
}

.buy_icon {
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    .content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 475px) {
    .box {
        max-height: 350px;
    }
}
