@font-face {
    font-family: "Neue Haas Display Roman";
    src: url(../public/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue Haas Display Roman", sans-serif;
    user-select: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    /* background: #e5e7f1; */
    background: rgb(32, 41, 42);
    background: linear-gradient(
        90deg,
        rgb(35, 45, 46) 0%,
        rgba(59,121,76,1) 100%
    );
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #f23434;
    border-radius: 50px;
    width: 5px;
}
